{%extends 'base.html'%} {%block title%}Index{%endblock%} {%block content%}
<h1>Index Page</h1>

<h2>Create Person</h2>
<form action="{{url_for('index')}}" method="POST">
  <div class="form-floating mb-3">
    <input
      type="name"
      class="form-control"
      id="floatingInput"
      name="name"
      placeholder="Jaspreet Singh"
    />
    <label for="floatingInput">Name</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="number"
      class="form-control"
      id="floatingPassword"
      name="age"
      placeholder="24"
    />
    <label for="floatingPassword">Age</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingPassword"
      name="city"
      placeholder="Noida"
    />
    <label for="floatingPassword">City</label>
  </div>
  <div class="form-check mb-3">
    <input
      class="form-check-input"
      name="isAdult"
      type="checkbox"
      id="defaultCheck1"
    />
    <label class="form-check-label"> isAdult </label>
  </div>
  <input class="btn btn-success my-2" type="submit" value="Create" />
</form>
<h2>Persons List</h2>
<div class="alert alert-info" role="alert">
  Total persons is <span style="font-weight: 800">{{total}}</span>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center" scope="col">ID</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">AGE</th>
      <th class="text-center" scope="col">CITY</th>
      <th class="text-center" scope="col">ISADULT</th>
      <th class="text-center" scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    {%if people %} {%for person in people%}
    <tr>
      <th class="text-center">{{person.pid}}</th>
      <td class="text-center">{{person.name}}</td>
      <td class="text-center">{{person.age}}</td>
      <td class="text-center">{{person.city}}</td>
      <td class="text-center">
        {%if person.isAdult==True%}
        <i class="fa-solid fa-check fa-xl" style="color: #0aa345"></i>
        {%else%}
        <i class="fa-regular fa-circle-xmark fa-xl" style="color: #e2031a"></i>
        {%endif%}
      </td>
      <td class="text-center">
        <button
          type="button"
          onclick="handleDelete({{person.pid}})"
          class="btn btn-danger"
        >
          Delete
        </button>
        <a href="{{url_for('detail',pid=person.pid)}}">
          <i class="fa-solid fa-circle-info fa-xl" style="color: #f09a05"></i>
        </a>
      </td>
    </tr>

    {%endfor%} {%else%}
    <tr>
      <div class="alert alert-info" role="alert">Persons list is empty!</div>
    </tr>
    {%endif%}
  </tbody>
</table>
<script type="text/javascript">
  const goToDetail = (pid) => {
    console.log(pid);
    fetch('{{url_for("detail",pid=pid)}}' + pid);
  };
  const handleDelete = (pid) => {
    fetch('{{url_for("delete",pid=pid)}}' + pid, {
      method: "DELETE",
    })
      .then((res) => {
        if (res.ok) {
          window.location.reload();
        } else {
          console.log("Person does not deleted with id:", pid);
        }
      })
      .catch((err) => {
        console.log(err.message);
      });
  };
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>
{%endblock%}
